@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* Base font typography */
html {
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #333333;
}

/* Link */
a {
  color: #4a4a4a;
  text-decoration: none;
}
a:visited {
  color: #4a4a4a;
}
a:focus {
  color: #cccccc;
}
a:hover {
  color: #333333;
}
a:active {
  color: #4a4a4a;
}

.button {
  font-size: 14px;
  padding: 0.4em 1.4em;
  color: white;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF9A9A9A', endColorstr='#FF676767');
  background-color: #9a9a9a;
  border: 0;
  text-shadow: #5a5a5a 0 -1px 0;
}
.button:hover {
  text-decoration: none;
}
.button:hover {
  background-color: #8d8d8d;
}
.button:active {
  background-color: #868686;
}
.button.disabled, .button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* Topbar */
.l-top-wrapper {
  border-bottom: 1px solid white;
}

.l-region--top {
  margin-top: 5px;
}

.l-top-wrapper ul.menu,
.l-top-wrapper ul.menu li {
  display: inline;
  list-style: none;
  font-weight: normal;
}

.l-top-wrapper a {
  color: #bbbbbb;
}
.l-top-wrapper a:visited {
  color: #bbbbbb;
}
.l-top-wrapper a:focus {
  color: white;
}
.l-top-wrapper a:hover {
  color: white;
}
.l-top-wrapper a:active {
  color: #bbbbbb;
}

/* Navbar */
.l-region--navigation {
  text-transform: uppercase;
  text-align: center;
  font-size: 110%;
}

.l-region--navigation ul.menu {
  margin: 0;
  padding: 0;
}

.l-region--navigation ul.menu,
.l-region--navigation ul.menu li {
  display: inline;
  list-style: none;
  font-weight: normal;
}

.l-region--navigation ul.menu li {
  margin: 0 20px;
}

.l-region--navigation a.active {
  font-size: 14px;
  padding: 0.4em 1.4em;
  color: white;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF9A9A9A', endColorstr='#FF676767');
  background-color: #9a9a9a;
  border: 0;
  text-shadow: #5a5a5a 0 -1px 0;
}
.l-region--navigation a.active:hover {
  text-decoration: none;
}
.l-region--navigation a.active:hover {
  background-color: #8d8d8d;
}
.l-region--navigation a.active:active {
  background-color: #868686;
}
.l-region--navigation a.active.disabled, .l-region--navigation a.active[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: false;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.l-region--navigation a.active::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
