.l-constrained {
  *zoom: 1;
  max-width: 1190px;
  _width: 1190px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}
.l-constrained:after {
  content: "";
  display: table;
  clear: both;
}

/* Header */
.l-header-wrapper {
  background-color: white;
  margin-bottom: 20px;
  margin-top: 60px;
}

.l-top-wrapper {
  height: 30px;
  background-color: #282828;
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 100;
}

.l-region--top {
  float: right;
}

/* Highlighted */
.l-highlighted-wrapper {
  background-color: white;
}

/* Hero */
.l-hero-wrapper {
  background-color: #8accf1;
  margin-bottom: 20px;
  min-height: 450px;
}

/* Main */
/* Sidebars */
/* Testimonial */
.l-test-wrapper {
  background-color: whitesmoke;
  margin-bottom: 20px;
}

/* Get in Touch */
.l-touch-wrapper {
  background-color: white;
  margin-bottom: 20px;
}

/* Footer */
.l-footer-wrapper {
  background-color: #f6f6f6;
}

.l-highlighted-wrapper,
.l-main-wrapper {
  *zoom: 1;
  max-width: 1190px;
  _width: 1190px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.l-highlighted-wrapper:after,
.l-main-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.l-region--highlighted,
.l-region--hero,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second,
.l-region--test,
.l-region--touch,
.l-region--footer {
  margin-bottom: 20px;
}

@media (min-width: 35.75em) {
  .l-hero-wrapper,
  .l-test-wrapper,
  .l-touch-wrapper {
    margin-bottom: 20px;
  }

  .l-highlighted-wrapper,
  .l-main-wrapper {
    max-width: 1190px;
  }

  .l-branding {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }

  .l-region--navigation {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }

  .sidebar-first .l-content,
  .sidebar-second .l-content,
  .two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
  .sidebar-first .l-region--sidebar-first,
  .sidebar-first .l-region--sidebar-second,
  .sidebar-second .l-region--sidebar-first,
  .sidebar-second .l-region--sidebar-second,
  .two-sidebars .l-region--sidebar-first,
  .two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  .sidebar-first .l-region--sidebar-second,
  .sidebar-second .l-region--sidebar-second,
  .two-sidebars .l-region--sidebar-second {
    clear: right;
  }
}
@media (min-width: 56.875em) {
  .l-hero-wrapper,
  .l-test-wrapper,
  .l-touch-wrapper {
    margin-bottom: 20px;
  }

  .l-highlighted-wrapper,
  .l-main-wrapper {
    max-width: 1190px;
  }

  .l-branding {
    width: 36.70886%;
    float: left;
    margin-right: 1.26582%;
  }

  .l-region--navigation {
    width: 62.02532%;
    float: right;
    margin-right: 0;
  }

  .sidebar-first .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0;
  }
  .sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }

  .sidebar-second .l-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%;
  }
  .sidebar-second .l-region--sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none;
  }

  .two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%;
  }
  .two-sidebars .l-region--sidebar-first,
  .two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }
  .two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%;
  }
  .two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none;
  }
}
