// Font face
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Base font typography */
html {
  font-size: $base-font-size;
  font-family: $sans-font-family;
  line-height: $base-line-height;
  color: $text-color;
}

/* Link */
a {
  @include link-colors($normal, $hover, $active, $visited, $focus);
  text-decoration: none;
}
