@import "../../partials/utility";

.l-constrained {
  @include container; // Define these elements as the grid containers.
}

/* Header */
.l-header-wrapper {
  background-color: $white;
  margin-bottom: $vert-spacing-unit;
  margin-top: 60px;
}
.l-top-wrapper {
  height: 30px;
  background-color: $bg-top;
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 100;
}
.l-region--top {
  float: right;
}

/* Highlighted */
.l-highlighted-wrapper {
  background-color: $white;
}

/* Hero */
.l-hero-wrapper {
  background-color: $bg-hero;
  margin-bottom: $vert-spacing-unit;
  min-height: 450px;
}

/* Main */
.l-main-wrapper {

}

/* Sidebars */
.l-region--sidebar-first,
.l-region--sidebar-second {

}

/* Testimonial */
.l-test-wrapper {
  background-color: $bg-test;
  margin-bottom: $vert-spacing-unit;
}

/* Get in Touch */
.l-touch-wrapper {
  background-color: $white;
  margin-bottom: $vert-spacing-unit;
}

/* Footer */
.l-footer-wrapper {
  background-color: $bg-footer;
}

.l-highlighted-wrapper,
.l-main-wrapper {
  @include container; // Define these elements as the grid containers.
  margin-bottom: $vert-spacing-unit;
}

.l-region--highlighted,
.l-region--hero,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second,
.l-region--test,
.l-region--touch,
.l-region--footer {
  margin-bottom: $vert-spacing-unit;
}

@include at-breakpoint($tab) { // At a given Susy Media Layout, use a given amount of columns.
  .l-hero-wrapper,
  .l-test-wrapper,
  .l-touch-wrapper {
    margin-bottom: $vert-spacing-unit;
  }
  .l-highlighted-wrapper,
  .l-main-wrapper {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
  }
  .l-branding {
    @include span-columns(4, 12); // Span 4 out of 12 columns.
    //@include susy-grid-background;
  }
  .l-region--navigation {
    @include span-columns(8 omega, 12); // Span the last (omega) 8 columns of 12.
    //@include susy-grid-background;
  }
  .sidebar-first,
  .sidebar-second,
  .two-sidebars {
    .l-content {
      @include span-columns(8, 12); // Span 8 out of 12 columns.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(4 omega, 12); // Span the last (omega) 4 columns of 12.
    }
    .l-region--sidebar-second {
      clear: right;
    }
  }
}

@include at-breakpoint($desk) {
  .l-hero-wrapper,
  .l-test-wrapper,
  .l-touch-wrapper {
    margin-bottom: $vert-spacing-unit;
  }
  .l-highlighted-wrapper,
  .l-main-wrapper {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
  }
  .l-branding {
    @include span-columns(6, 16); // Span 6 out of 16 columns.
    //@include susy-grid-background;
  }
  .l-region--navigation {
    @include span-columns(10 omega, 16); // Span 10 out of 16 columns.
    //@include susy-grid-background;
  }
  .sidebar-first {
    .l-content {
      @include span-columns(12 omega, 16); // Span the last (omega) 12 columns of 16.
    }
    .l-region--sidebar-first {
      @include span-columns(4, 16); // Span 4 out of 16 columns.
    }
  }
  .sidebar-second {
    .l-content {
      @include span-columns(12, 16); // Span 12 out of 16 columns.
    }
    .l-region--sidebar-second {
      @include span-columns(4 omega, 16); // Span the last (omega) 12 columns of 16.
      clear: none;
    }
  }
  .two-sidebars {
    .l-content {
      @include span-columns(8, 16); // Span 12 out of 16 columns.
      @include push(4, 16);  // Push element by adding 4 out of 16 columns of left margin.
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include span-columns(4, 16); // Span 4 out of 16 columns.
    }
    .l-region--sidebar-first {
      @include pull(12, 16); // Pull element by adding 12 out of 16 columns of negative left margin.
    }
    .l-region--sidebar-second {
      @include omega; // This element spans the last (omega) column.
      clear: none;
    }
  }
}
