/* Navbar */
.l-region--navigation {
  text-transform: uppercase;
  text-align: center;
  font-size: 110%;
}
.l-region--navigation ul.menu {
  margin: 0;
  padding: 0;
}
.l-region--navigation ul.menu,
.l-region--navigation ul.menu li {
  display: inline;
  list-style: none;
  font-weight: normal;
}
.l-region--navigation ul.menu li {
  margin: 0 20px;
}
.l-region--navigation a.active {
  //sassy-button(gradient-style, border-radius, font-size, first-color, second-color, text-color, text-style, auto-states)
  @include sassy-button("flat", 3px, 14px, #9a9a9a, #858585, $white);
}
