/* Topbar */
.l-top-wrapper {
  border-bottom: 1px solid $white;
}
.l-region--top {
  margin-top: 5px;
}
.l-top-wrapper ul.menu,
.l-top-wrapper ul.menu li {
  display: inline;
  list-style: none;
  font-weight: normal;
}
.l-top-wrapper a {
  @include link-colors($top-normal, $top-hover, $top-active, $top-visited, $top-focus);
}
