// ---------------------------------------------------------------------------
// Grid
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;
$total-columns: 4;
$column-width: 4em;
$gutter-width: $horz-spacing-unit;
$grid-padding: 5px;
$container-style: magic;
$container-width: 1200px;
$tab: 44em 12; // At 44em use 12 columns.
$desk: 70em 16; // At 70em use 16 columns.

// ---------------------------------------------------------------------------
// Colors
// Base colors
$white: #fff;
$black: #000;
$green: #5da423;
$red: #c60f13;
$blue: #3a87ad;
$yellow: #ed5;

// Text colors
$text-color: #333333;

// Link colors
$normal: #4a4a4a;
$hover: #333;
$active: $normal;
$visited: $normal;
$focus: #ccc;

// Topbar link colors
$top-normal: #bbb;
$top-hover: $white;
$top-active: $top-normal;
$top-visited: $top-normal;
$top-focus: $white;


// Background colors
$bg-top: #282828;
$bg-hero: #8ACCF1;
$bg-test: #F5F5F5;
$bg-footer: #F6F6F6;

// ---------------------------------------------------------------------------
// Type
$montserrat-font-family: 'Montserrat', sans-serif;
$sans-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font-family: Georgia, "Times New Roman", Times, serif;
$mono-font-family: Monaco, Menlo, Consolas, "Courier New", monospace;

// Font size
$base-font-size: 13px;
$base-line-height: 1.5;

// ---------------------------------------------------------------------------
// Vars
$default-border-radius: 3px;

// ---------------------------------------------------------------------------
// Sassy buttons
$sb-base-color:      #9a9a9a;      // Base color of your button
$sb-second-color:    #858585;      // Optional second color of button gradient
$sb-border-radius:   5px;          // Button border radius
$sb-border-width:    1px;          // Button border width
$sb-padding:         0.4em 1.4em;  // Button padding
$sb-font-size:       14px;         // Button font-size
$sb-line-height:     1.2em;        // Button line-height
$sb-text-color:      white;        // Button text color
$sb-text-style:      "inset";      // Button text shadow style
$sb-gradient-style:  "flat";       // Button gradient style
$sb-auto-states:     true;         // Automatically create pseudo styles
